.container {
    padding: 2%;
    width: 80%;
    border: 1px solid;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2vw;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.participant {
    width: 50%;
    /* width: min-content; */
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 2% 5%;
    line-height: 1.6rem;
}

.paginator {
    padding: 0 5% 2%;
}